@import "styles/utils";

.indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #817D92;
  background: #18171F;
  text-transform: uppercase;
  padding: 14px 16px;

  @include media(">tablet") {
    font-size: 18px;
    line-height: 24px;
    padding: 21px 31.5px 20px 32px;
  }

  .value {
    height: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #E6E5EA;

    @include media(">tablet") {
      font-size: 24px;
      line-height: 32px;
      gap: 15.5px;
    }

    .barContainer {
      height: 100%;
      display: flex;
      gap: 8px;

      .bar {
        width: 10px;
        height: 100%;
        border: 2px solid #E6E5EA;

        &.fill {
          background: var(--bar-color);
          border: none;
        }
      }
    }
  }
}
