@import "styles/utils";

.checkboxWrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #E6E5EA;
  cursor: pointer;

  @include media(">tablet") {
    font-size: 18px;
    line-height: 24px;
  }

  &:hover .input {
    &:hover {
      border-color: #A4FFAF;
    }
  }

  .input {
    margin-right: 20px;
    background: transparent;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border: 2px solid #E6E5EA;
    transition: border-color 0.3s;

    @include media(">tablet") {
      margin-right: 24px;
    }

    &:checked {
      background: #A4FFAF url("/icons/icon-check.svg") no-repeat 50%;
      border: none;
    }
  }
}
