@import "styles/utils";

.button {
  min-height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #24232C;
  background: #A4FFAF;
  text-transform: uppercase;
  border: 0;
  padding: 0 24px;
  cursor: pointer;

  @include media(">tablet") {
    min-height: 65px;
    font-size: 18px;
    line-height: 24px;
  }
}
