@import "styles/utils";

.passwordGeneratorForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #24232C;
  padding: 16px;

  @include media(">tablet") {
    padding: 24px 32px 32px;
  }

  .rangeInputLabelWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    @include media(">tablet") {
      margin-bottom: 17px;
    }

    .label {
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #E6E5EA;

      @include media(">tablet") {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .value {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #A4FFAF;

      @include media(">tablet") {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }

  .checkboxContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(">tablet") {
      gap: 20px;
    }
  }

  .generateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include media(">tablet") {
      gap: 24px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(">tablet") {
      gap: 32px;
    }
  }
}
