@import "styles/utils";

.main {
  padding: 64px 0 63px;

  @include media(">tablet") {
    padding: 133px 0 196px;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #817D92;
    margin-bottom: 16px;

    @include media(">tablet") {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 31px;
    }
  }

  .passwordGeneratorContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include media(">tablet") {
      gap: 24px;
    }
  }
}
